@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  padding: 0;
  overflow: hidden;
}

@font-face {
  font-family: Mossport; /* Гарнитура шрифта */
  src: url(../fonts/Mossport.otf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Gotham Pro Bold; /* Гарнитура шрифта */
  src: url(../fonts/GothaProBol.otf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Gotham Pro Medium; /* Гарнитура шрифта */
  src: url(../fonts/GothaProMed.otf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Gotham Pro Light; /* Гарнитура шрифта */
  src: url(../fonts/GothaProLig.otf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Gotham Pro Regular; /* Гарнитура шрифта */
  src: url(../fonts/GothaProReg.otf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Cover; /* Гарнитура шрифта */
  src: url(../fonts/Cover.otf); /* Путь к файлу со шрифтом */
}
